.openClaimsTable {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #999;
    border-collapse: collapse;
}

.openClaimsTable td, .openClaimsTable th {
    padding: 3px;
    border: 1px solid #999;
}

.openClaimsInsuranceTypeSelector {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: fit-content;
}