.quickClaimsLogo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menuImage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(191, 228, 243);
  border: 1px #000 solid;
  padding: 20px;
}

.container.logo {
    border: 0px;
    padding: 0px;
}

.container.menu {
    border: 0px;
    padding: 0px;
    background-image: url(/src/components/Images/MenuImage.png);
}

.container.heading {
  padding: 10px;
}

.container.footer {
  padding: 20px;
  color: white;
  background-image: url(/src/components/Images/MenuImage.png);
}

.container.form {
  width: 800px;
}

.container.table {
  border: none;
  width: 400px;
}

form label {
  color: #000;
  font-weight: bold;
  width: 300px;
  display: block;
  float: left;
  margin-right: 10px;
}

form label.radio-label {
  display: inline-block;
  float: none;
  width: fit-content;
}

input[type="radio"] {
  display: inline-block;
}

input, select {
  margin-bottom: 10px;
  display: block;
}

td, th, thead, tbody {
  border: 2px solid #000;    
}
table {
  border: 2px solid #000; 
}

.tableHeading {
  cursor: pointer;
}

.button {
  background-color: #3d3737;
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navLink {
    color: whi
}

.button:hover {
  background-color: grey; 
  color: #000000 !important;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
.container, .container.form, .quickClaimsLogo {
width:  550px;
}
}

@media only screen and (max-width: 768px) {
.container, .container.form, .quickClaimsLogo {
width: 95%;
}
}