.claimSearchTable {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #999;
    border-collapse: collapse;
}

.claimSearchTable td, .claimSearchTable th {
    padding: 3px;
    border: 1px solid #999;
}

.claimSearchStatusSelector {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: fit-content;
}

.searchBox {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
  }
  
